@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

$meuc-font: 'Open Sans', Helvetica, Arial, sans-serif;

$meuc-blue: #005aaa;
$meuc-gray: #77787b;

* {
  font-family: $meuc-font;
}

h1, h2 {
  font-weight: 600;
}
