@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Open+Sans+Condensed:wght@300&display=swap');

$meuc-font: 'Open Sans', Helvetica, Arial, sans-serif;

$meuc-blue: #005aaa;
$meuc-light-blue: #8dd8f8;
$meuc-gray: #77787b;
$meuc-white: white;

* {
  font-family: $meuc-font;
}

h1, h2 {
  font-weight: 600;
}
